#barraCatalogo{
    height: 300px;
}
#catalogacion li{
    display:block;
    float:left;
    padding:0 10px;
}
#imagen1{
    margin-top: 0px;
    background-image: url("../img/catalogo/CatAlarmas.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 180px;
    height:200px;
}
#imagen2{
    margin-top: 0;
    background-image: url("../img/catalogo/catCamara.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 300px;
    height:200px;
}
#imagen3{
    background-image: url("../img/catalogo/catDetector.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 400px;
    height:200px;
}
#visible{
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px 1px #1d506a, 2px 2px 2px #1d506a;
}


table, th, tr, td {
  border: 1px solid #598195;
  border-collapse: collapse;
}
