
#barraCatalogo{
    height: 300px;
}
#catalogacion li{
    display:block;
    float:left;
    padding:0 10px;
}
#imagen1{
    margin-top: 0px;
    margin-left: 350px;
    background-image: url("../img/catalogo/CatAlarmas.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 180px;
    height:200px;
}
#imagen2{
    margin-top: 0;
    margin-left: 200px;
    background-image: url("../img/catalogo/catCamara.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 300px;
    height:200px;
}

#visible{
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px 1px #1d506a, 2px 2px 2px #1d506a;
    text-align: center;
}

.lado{
    display: flex;

}
aside {
    height:100%;
    width: 220px;
    padding:20px;
    background-color: rgba(70, 69, 69, 0.69);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0px 0px 10px 10px;

}

.posicionado{
    position: relative;
    left: 30%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#Cbuscar{
    width: 500px;

}
input[type="radio"]{
    margin-left: 10px;

}


 button[type="search"]{

    width: 120px;
    background: #0a6478;
    padding: 8px;
    border: none;
    border-radius: 0px 25px 25px 0px;
    color: white;
    align-items: flex-end;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

input[type="text"]{
    border-radius: 25px 0px 0px 25px;
    text-indent: 10px;
    height: 38px;
    margin-right: -3px;


}


td{
   text-align: left;

   height:500px;
   width:380px;
   padding-bottom: 30px;
   padding-top: 10px;
   padding-left: 50px;
   background-color: rgba(20, 20, 20, 0.6);
   font-weight: bold;
   font-size: 15px;
   color: white;
}
