.hd p{
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: right;
  margin: 15px 200px auto;
  color: #ce7d35;
  font-family: serif;
}

.hd > a {
  font-size: 20px;
  text-align: right;
  font-family: serif;
  color: #ce7d35;
  text-decoration: none;
}

.hd > a > p:hover{
  color: #ffff;
  text-decoration: none;
}
