/* ESTILOS DEL MENU-USUARIO.HTML ###### */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #313D52;
}

.navegacion{
  width: 1000px;
  margin: 30px auto;
  background: white;
}
.navegacion ul{
  list-style: none;
}

.menu li{
  position: relative;
  display: inline-block;
}

.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: sans-serif;
  text-decoration: none;
}
.menu > li > a:hover{
  color: #ce7d35;
  transition: all .3s;
}

h3{
  text-align: center;
  color: #ce7d35;
  font-size: 35px;
  font-family: sans-serif;
}
