ul#menu-main{
  border: 1px solid white;
  background: rgb(29, 80, 106);
  height: 50px;
  margin-top: 10px;
  text-align: center;
}
#menu-main li{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  margin-top: 13px;
  text-align: center;
  color: white;
}
#menu-main li:hover{
  background: rgb(20, 87, 149);


}
