*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0px;
  /* background-image: url("../img/domotica.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



ul#menu-main{
  border: 1px solid white;
  background-color: #1d506a;
  height: 50px;
  margin-top: 90px;
  margin-bottom: 2px;
  text-align: center;
}

#menu-main li{
  display: block;
  width: 200px;
  height: 35px;
  margin-left: 10px;
  padding-top: 15px;
  color: white;
  position: relative;
  right: 100px;
  left: 50px;
}

#menu-main li{
  float: left;

}

#menu-main li:hover{
  width: 200px;
  height: 35px;
  background-color: #287095;
}
#menu-main li li:hover{
  width: 0;
  height: 0;
}


#acceso{
  color: white;
  text-decoration: none;

}

#login-form {
  position: relative;
  z-index: 999;
  width:220px;
  height: 170px;
  padding-top: 10px;
  padding-left: 30px;
  text-align: left;
  top:4px;
  right: 150px;
  background-color: white;
  border:1px solid #ccc;
  border-radius: 10px 0px 10px 10px;

}


input#user , input#pass{
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 6px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  border-radius: 5px;
}
#submit{
  margin-top: 10px;
  height: 25px;
  width: 192px;
  cursor: pointer;
}

.centro{
  text-align: center;
}

/* FOOTER */
.rrss li{
  display:inline-block;
  margin-left: 10px;
}

footer.pie_pagina{
  text-align: center;
  background-color: #1d506a;
}
.info p{
  text-align: left;
  display: inline-block;
  width: 400;
}

footer {
    background-color: #1d506a;
    margin-bottom: 0px;
    color: white;
}



/* estilo Slider y posicionamiento */

.eje_y{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
}

.eje_x{
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}

.detalle{
    color: white;
    font-size: 50px;
    text-shadow: -1px -1px 1px #1d506a, 2px 2px 2px #1d506a;
    font-weight: bold;
    position: absolute;
    bottom:30%;
    left:56%;

}


.slide{
    height: 10px;
    width: 10px;
}

#slider-container{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden; /* remover barra de scroll */

}
.fondo1{
  margin-top: -50px;
  background-image: url("../img/Seguridad.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height:600px;
}
.fondo2{
  margin-top: -50px;
  background-image: url("../img/Alarmas.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height:600px;
}

.fondo3{
  margin-top: -50px;
  background-image: url("../img/Detector.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height:600px;
}


.flecha_de_slider{
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

#previa{
    position: absolute;
    left: 40px;
}

#siguiente{
    position: absolute;
    right: 40px;
}

#puntos{
    display: flex; /* los puntos son mostrados en linea de izquierda a derecha */
    position: absolute; /* se ubican los puntos en la posición inferior */
    bottom: 30px;
}

.puntos_de_navegacion{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 4px;
    border: 2px solid #d6d6d6;
    transition: .5s background-color;
}

.puntos_de_navegacion:hover{
    background-color: #d6d6d6;
}

.punto_activo{
    background-color: #d6d6d6;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;
  }

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
